.main-body {
    display: grid;
    grid-template-columns: minmax(250px, auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 20px;
}

nav {
    grid-area: navbar;
    position: fixed;
}

nav a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    display: block;
    padding: 5px;
    margin: 10px 0;
}

main {
    grid-area: mainContent;
}

header {
    font-size: 1.7rem;
    font-weight: bold;
}

code {
    background-color: #f7f7f7;
    display: block;
    border-radius: 5px;
    padding: 20px;
}

@media screen and (max-width:632px) {
    .main-body {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: inherit;
    }
}
